<!--
{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}
-->

{% load crispy_forms_tags %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% if user.is_authenticated != true %}
    <p class="text-center">Veuillez vous connecter pour voir cette page.</p>
{% endif %}

<title>Connexion</title>

<h1 class="text-center">Page de connexion</h1>

<div class="container">
    <form method="post" action="">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                {{ form.username|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ form.email|as_crispy_field }}
            </div>
        </div>
        {{ form.password|as_crispy_field }}        
        <input type="submit" value="Se connecter" class="btn btn-success">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
        <p>Pas de compte ? <a href="/users/register">Enregistrez-vous</a></p>
</div>
