<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<div class="row">
    <div class="container">
        <div class="text-center">
            <h1>Erreur</h1>
            <p>Nous sommes désolés nous n'avons pas compris votre demande</p>
            <p>Veuillez saisir votre recherche avec les categories suivantes:
                pizza - drink - cheese ou chocolate
            </p>
        </div>
    </div>
</div>